.card {
  margin: 0px auto;
  position: relative;
  height: 330px;
  width: 100%;
  margin-bottom: 100px;
}
.image {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px 0.5px rgb(121, 120, 120);
}

.book {
  &__title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }

  &__autor {
    color: white;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 17px;
    color: white;
    margin: 20px 0px;
  }

  &__button {
    width: 80%;
    background-color: white;
    box-shadow: 0px 7px 20px 0.5px rgb(158, 158, 158);
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, background-color 0.5s,
      border 2s;
    border: 3px solid;
  }

  &__button:hover {
    color: white;
    text-transform: capitalize;
    border: 3px solid rgba(255, 255, 255, 0.274);
  }
}
