.card {
  position: relative;
  height: 350px;
  width: 600px;
  background: linear-gradient(
    180deg,
    rgba(255, 191, 237, 1) 0%,
    rgba(221, 38, 223, 1) 99%
  );
  margin-bottom: 100px;
}
.image {
  top: 20px;
  left: 30px;
  height: 380px;
  width: 240px;
  box-shadow: 0px 0px 10px 0.5px rgb(121, 120, 120);
  position: absolute;
}

.book {
  &__title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }

  &__autor {
    color: white;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 17px;
    color: white;
    margin: 20px 0px;
  }

  &__button {
    width: 80%;
    background-color: white;
    box-shadow: 0px 7px 20px 0.5px rgb(158, 158, 158);
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    color: rgb(204, 70, 204);
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, background-color 0.5s,
      border 2s;
    border: 3px solid;
  }

  &__button:hover {
    background-color: rgb(204, 70, 204);
    box-shadow: 0px 0px 20px 0.5px rgba(153, 35, 147, 0.5);
    color: white;
    text-transform: capitalize;
    border: 3px solid rgba(255, 255, 255, 0.603);
  }
}
