.button {
  background-color: orange;
  color: white;
}

.center {
  &__card {
    background: linear-gradient(
      180deg,
      rgba(255, 191, 237, 1) 0%,
      rgba(221, 38, 223, 1) 99%
    );
  }
  &__button {
    color: rgb(204, 70, 204);
  }

  &__button:hover {
    background-color: rgb(204, 70, 204);
    box-shadow: 0px 0px 20px 0.5px rgba(153, 35, 147, 0.5);
  }
}

.left {
  &__card {
    background: linear-gradient(180deg, #fbadaf 0%, #eb8184 99%);
  }

  &__button {
    color: #eb8184;
  }

  &__button:hover {
    background-color: #fc767a;
    box-shadow: 0px 0px 20px 0.5px #ffc5c7;
  }
}

.right {
  &__card {
    background: linear-gradient(180deg, #95d6e3 0%, #89cedc 99%);
  }

  &__button {
    color: #89cedc;
  }

  &__button:hover {
    background-color: #89cedc;
    box-shadow: 0px 0px 20px 0.5px #b9f3ff;
  }
}
